@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

:root {
	--accent-color: #6ab7b8;
	--bg-color: #e7e0d8;
}

html {
	font-size: 10px;
	background: var(--bg-color);
}

body {
	font-family: "Baloo 2", sans;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
}

header,
footer {
	background: var(--accent-color);
	padding: 0 4rem;
}

header {
	height: 20rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

main {
	flex: 1;
}

.nav-list {
	font-size: 3rem;
	list-style-type: none;

	display: flex;
	flex-flow: row nowrap;
	gap: 3rem;
}

.nav-list a {
	color: white;
	text-decoration: none;
}

.nav-list a.active {
	text-decoration: underline white 0.4rem;
	text-underline-offset: 1.4rem;
}

.logo {
	height: 14rem;
}
