html {
	font-size: 10px;
}

body {
    margin: 0;
	overflow: hidden;
}

main {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	background: #ffffff;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(214, 214, 214, 1) 100%
	);
}

h1 {
	font-size: 10rem;
	text-shadow: grey 1px 0 10px;
	margin-bottom: 1rem;
}

p {
	font-size: 3.2rem;
	font-family: sans;
	text-shadow: grey 1px 0 10px;
}
